.innerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  border-bottom: 1px solid var(--orange);
}

.innerPageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  padding: 50px 0;
  align-items: flex-end;
  gap: 20px;
}

@media (max-width: 768px) {
  .innerPage {
    text-align: center;
  }
  .innerPageHeader {
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-weight: 600;
  line-height: 120%;
  margin: 15px 0 0 0;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

@media (max-width: 768px) {
  .imageGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
